<%- include('partials/header') %>
<h1 class="text-center">Welcome to Product-Supplier CRUD App</h1>
<p class="text-center">Chọn menu để quản lý nhà cung cấp hoặc sản phẩm.</p>
<%- include('partials/footer') %>
